<div view="options">Options</div>
<br />
<div view="changeColoe">Change Background Color</div>
<button style="background-color:#34BF9A; height:25px;width:25px" ng-click="changeBackground('#34BF9A')"></button>
<button style="background-color:green; height:25px;width:25px" ng-click="changeBackground('green')"></button>
<button style="background-color:#872111; height:25px;width:25px" ng-click="changeBackground('#872111')"></button>
<button style="background-color:#FF428A; height:25px;width:25px" ng-click="changeBackground('#FF428A')"></button>
<button style="background-color:white; height:25px;width:25px" ng-click="changeBackground('white')"></button>
