<div ng-app="emailClientApp" ng-controller="writeController" class="white-bg">
<div class="title">Write mail</div>
<form name="emailForm">
	 <div class="form-group" ng-repeat="adress in email.adresses">
		<input type="text" placeholder="Send To:" name="emailAdress" ng-model="adress.name"  typeahead="tooltip.name as tooltip.name for tooltip in tooltips | filter:$viewValue" typeahead-editable="true" required />
	</div>
	<button id="sendbtn" type="button" class="btn-small btn" ng-click="email.addAdress()">Add receiver</button><br/></br>
	<input type="text" placeholder="Subject…" name="emailTitle" ng-model="email.title" required/>
	</br>
	<textarea class="msgtextarea" type="text" name="emailBody" ng-model="email.body" required/>
</form>
<button id="sendbtn" class="btn btn-large btn-success" type="button" ng-click="email.send(emailForm)" >Send</button>
</div>